__pycache__/
classic_RSA/__pycache__/
classic_RSA/papers_experiments/
logs/
.vscode/
Arthur_RSA/
multi_RSA/planning_inference/data
multi_RSA/__pycache__/
multi_RSA/logs/
bash/
multi_RSA/planning_inference/data/
multi_RSA/logs/
multi_RSA/plots/